<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <title>James Young</title>

  <link rel="stylesheet" type="text/css" href="styles/back-to-markdown.css" />

  {{#meta}} {{#links}}
  <link
    rel="{{{rel}}}"
    title="{{{title}}}"
    href="{{{href}}}"
    type="{{{type}}}"
  />
  {{/links}} {{/meta}}

  <link rel="author" href="humans.txt" type="text/plain" />

  <base target="_blank" />
</head>
<body>
  <header class="flex-between">
  {{#header}}
    <h1 id="name">{{title}}</h1>
    <span>
      {{#protocols}}
      <a rel="{{{rel}}}" href="{{{href}}}" type="{{{type}}}">{{display}}</a>
      {{/protocols}}
    </span>
  {{/header}}
  </header>

  <section id="links">
  {{#links}}
  {{#bigLinks}}
    <a rel="{{{rel}}}" href="{{{href}}}" type="{{{type}}}">{{display}}</a>
  {{/bigLinks}}
  {{#smallLinks}}
    <a class="sm" rel="{{{rel}}}" href="{{{href}}}" type="{{{type}}}">{{display}}</a>
  {{/smallLinks}}
  {{/links}}
  </section>

  <section id="about">
  <h2 id="about">About</h2>
  <ul>
    {{#about}}
    <li>{{{.}}}</li>
    {{/about}}
  </ul>
  </section>

  <section id="what-i-do">
  <h2 id="what">What I Do</h2>
  <ul>
    {{#whatIDo}}
    <li>{{{.}}}</li>
    {{/whatIDo}}
  </ul>
  </section>

  <section id="work-history">
  <h2 id="work">Work</h2>
  <table>
    {{#workHistory}}
    <tr>
      <td>{{startDate}}</td>
      <td class="end-date">{{endDate}}</td>
      <td class="fold">{{title}}{{#companyName}}, {{.}}{{/companyName}}</td>
    </tr>
    {{/workHistory}}
  </table>
  </section>

  <section id="education">
  <h2 id="education">Education</h2>
  <ul>
    {{#education}}
    <li>
      {{school}}<br />
      Studied {{subject}}<br />
      Graduated with {{grade}}
    </li>
    {{/education}}
  </ul>
  </section>

  <footer>
  {{#footer}}
  <p>{{{.}}}</p>
  {{/footer}}
  </footer>
</body>
